@use "@scss/mixins" as *;

.dashboard-view {
  padding: calc(var(--padding) * 2);
  max-width: 1366px;
  margin: 0 auto;

  .cds--cc--chart-wrapper .layout-child {
    .legend {
      max-height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      flex: unset;
      width: 100% !important;
    }

    .graph-frame {
      flex: auto;
      width: 100% !important;
    }
  }

  div.cds--cc--legend.vertical {
    display: flex;
    flex-flow: wrap;
    div.legend-item {
      margin-right: 0;
      margin-bottom: 10px;
      white-space: nowrap;
      width: 150px;
    }
  }

  .chart + .chart {
    padding-top: calc(var(--padding) * 2);
  }

  .chart-row {
    padding-top: var(--padding);
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--padding) * 4);
    @include from(tablet) {
      justify-content: center;
    }
    .chart-cell {
      &.flex-1 {
        @include from(tablet) {
          max-width: 50vw;
        }
        flex: 1;
      }
    }
  }

  .values-chart {
    .value-item {
      padding-top: var(--padding);
      font-size: var(--charts-font-size);
      .value-label {
        margin-right: var(--padding);
      }
      .value-number {
        font-weight: 600;
      }
    }
  }
}

div.cds--cc--legend div.legend-item div.checkbox {
  margin-left: 2px;
}

.simpleBar-chart,
.multiBar-chart {
  max-width: 90vw;
  .spacer {
    height: var(--padding) !important;
  }
}

.multiBar-chart {
  &.follower-types {
    .layout-child.legend {
      position: absolute;
      top: 39px;
    }
  }
}
