@use '@scss/mixins' as *;

:root {
  --hover: blue;
  --light-bg-color: #ffffff;
  --light-bg-color-disabled: #cccccc;
  --light-text-color: #000000;
  --light-text-color-disabled: #656565;
  --light-text-placeholder: #a0a0a0;
  --light-border-color: #cccccc;
  --dark-bg-color: #000000;
  --dark-bg-color-disabled: #656565;
  --dark-text-color: #ffffff;
  --dark-text-placeholder: #a0a0a0;
  --dark-border-color: #cccccc;
  --error-border-color: red;
  --menu-height: 56px;
  --padding: 8px;
  --controls-height: 40px;
  --controls-border: solid 1px var(--border-color);
  --controls-border-radius: 4px;
  --controls-font-size: 16px;
  --text-font-size: 14px;
  --cds-tag-background-red: #ffd7d9;
  --cds-tag-color-red: #a2191f;
  --cds-tag-hover-red: #ffc2c5;
  --cds-tag-background-magenta: #ffd6e8;
  --cds-tag-color-magenta: #9f1853;
  --cds-tag-hover-magenta: #ffbdda;
  --cds-tag-background-purple: #e8daff;
  --cds-tag-color-purple: #6929c4;
  --cds-tag-hover-purple: #dcc7ff;
  --cds-tag-background-blue: #d0e2ff;
  --cds-tag-color-blue: #0043ce;
  --cds-tag-hover-blue: #b8d3ff;
  --cds-tag-background-cyan: #bae6ff;
  --cds-tag-color-cyan: #00539a;
  --cds-tag-hover-cyan: #99daff;
  --cds-tag-background-teal: #9ef0f0;
  --cds-tag-color-teal: #005d5d;
  --cds-tag-hover-teal: #57e5e5;
  --cds-tag-background-green: #a7f0ba;
  --cds-tag-color-green: #0e6027;
  --cds-tag-hover-green: #74e792;
  --cds-tag-background-gray: #e0e0e0;
  --cds-tag-color-gray: #161616;
  --cds-tag-hover-gray: #d1d1d1;
  --cds-tag-border-red: #ff8389;
  --cds-tag-border-blue: #78a9ff;
  --cds-tag-border-cyan: #33b1ff;
  --cds-tag-border-teal: #08bdba;
  --cds-tag-border-green: #42be65;
  --cds-tag-border-magenta: #ff7eb6;
  --cds-tag-border-purple: #be95ff;
  --cds-tag-border-gray: #a8a8a8;
  --cds-tag-border-cool-gray: #a2a9b0;
  --cds-tag-border-warm-gray: #ada8a8;
  --cds-tag-background-cool-gray: #dde1e6;
  --cds-tag-color-cool-gray: #121619;
  --cds-tag-hover-cool-gray: #cdd3da;
  --cds-tag-background-warm-gray: #e5e0df;
  --cds-tag-color-warm-gray: #171414;
  --cds-tag-hover-warm-gray: #d8d0cf;
  --cds-tag-background-high-contrast: #393939;
  --cds-tag-color-high-contrast: #ffffff;

  font-family: 'sans-serif';
}

@include theme(light) {
  :root {
    *:not(.error) {
      --border-color: var(--dark-border-color);
    }

    *.error {
      --border-color: var(--error-border-color);
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: calc(var(--vh, 1vh) * 100);
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@include theme(dark) {
  :root {
    *:not(.error) {
      --border-color: var(--dark-border-color);
    }
    *.error {
      --border-color: var(--error-border-color);
    }
  }

  html {
    color-scheme: dark;
  }
}
