:host {
  position: relative;
  z-index: 3;
  .sq-modal-preview {
    display: flex;
    align-items: center;
    &--wrapper {
      width: 100%;
      aspect-ratio: 16/9;
      max-height: 100vh;
      display: flex;
      align-items: center;
    }
  }
}

:host(.mobile) {
  @media (orientation: portrait) {
    .sq-modal-preview {
      rotate: 90deg;
      width: calc(100 * var(--vh));
      align-items: flex-end;
      &--wrapper {
        aspect-ratio: 9 / 16;
        display: flex;
        max-height: 100vw;
        align-items: center;
      }
      iframe {
        height: 100vw;
        width: calc(100 * var(--vh));
        aspect-ratio: 9 / 16;
      }
    }
  }
  @media (orientation: landscape) {
  }
}
