:host(.player) {
  width: 100%;

  .audio-player {
    background: var(--Blue);
    color: var(--White);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 14px;
    gap: 16px;

    .timeline-wrapper {
      position: relative;
      cursor: pointer;
      padding: 4px 0;

      .timeline {
        background: rgba(18, 22, 25, 0.3);
        width: 100%;
        position: relative;
        height: 2px;
      }

      .progress {
        background: var(--Coral);
        width: 0%;
        height: 2px;
        transition: 0.25s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .controls {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 16px;

      .controls-container {
        flex: auto;

        .info-wrapper {
          display: flex;
          justify-content: space-between;
          padding-bottom: 12px;

          .name {
            font-size: 12px;
            font-weight: 600;
            color: var(--White);
          }

          .time {
            font-size: 11px;
            font-weight: 400;
            color: var(--indigo-30);
          }
        }
      }

      .toggle-play {
        transition: none;

        cursor: pointer;
        position: relative;
        left: 0;
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-size: cover;

        &.play {
          background-image: url("/assets/imgs/controls/default/play.svg");
        }

        &.pause {
          background-image: url("/assets/imgs/controls/default/pause.svg");
        }
      }

      .time {
        display: flex;

        > * {
          padding: 2px;
        }
      }
    }
  }
}

:host(.canvas) {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  &.current {
    display: block;
    position: absolute;
    z-index: 0;
  }

  .video {
    display: block;
    height: 100%;

    video {
      object-fit: cover;
    }
  }

  .audio-player {
    height: 100%;
    color: var(--White);
    display: block;
    align-items: center;
    gap: 16px;

    .timeline-wrapper {
      position: relative;
      cursor: pointer;
      padding: 4px 0;

      .timeline {
        background: rgba(18, 22, 25, 0.3);
        width: 100%;
        position: relative;
        height: 2px;
      }

      .progress {
        background: var(--Coral);
        width: 0%;
        height: 2px;
        transition: 0.25s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .video-overlay {
      opacity: 1;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: var(--primaryTextColor);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    .video {
      position: relative;
      margin: 0 auto;
    }
    &:hover {
      .controls {
        opacity: 1;
      }
    }

    .controls {
      display: flex;
      align-items: flex-end;
      width: 100%;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding: 16px;
      box-sizing: border-box;
      gap: 20px;

      @media screen and (max-width: 645px) {
        opacity: 1;
      }

      .controls-container {
        flex: auto;
        flex-direction: column-reverse;
        display: flex;

        .info-wrapper {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          gap: 6px;

          .name {
            font-size: var(--fontSizeM);
            font-weight: 700;
            color: var(--White);
          }

          .time {
            font-size: var(--fontSizeS);
            color: var(--secondaryLightTextColor);
          }
        }

        .timeline-wrapper {
          position: absolute;
          top: -24px;
          left: 16px;
          width: calc(100% - 32px);
          padding: 20px 0;
          .timeline {
            background: var(--timelineColor);
          }
        }
      }

      .toggle-play {
        transition: none;

        cursor: pointer;
        position: relative;
        left: 0;
        height: 18px;
        width: 18px;
        background-repeat: no-repeat;
        background-color: var(--White);
        border-radius: 100%;
        padding: 11px;
        background-position: center center;
        background-size: 24px;

        &.play {
          background-image: url("/assets/imgs/controls/canvas/play.svg");
        }

        &.pause {
          background-image: url("/assets/imgs/controls/canvas/pause.svg");
        }
      }

      .time {
        display: flex;

        > * {
          padding: 2px;
        }
      }
    }
  }
}

:host(.overlay) {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  position: absolute;
  background: linear-gradient(0deg, #16181a50 30%, rgba(22, 24, 26, 0) 100%);

  .audio-player {
    height: 100%;
    color: var(--White);
    display: block;
    align-items: center;
    gap: 16px;

    .timeline-wrapper {
      position: relative;
      cursor: pointer;
      padding: 4px 0;

      .timeline {
        background: rgba(18, 22, 25, 0.3);
        width: 100%;
        position: relative;
        height: 2px;
      }

      .progress {
        background: var(--Coral);
        width: 0%;
        height: 2px;
        transition: 0.25s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .video-overlay {
      opacity: 1;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: var(--primaryTextColor);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    .video {
      position: relative;
      margin: 0 auto;
    }

    &:hover {
      .controls {
        opacity: 1;
      }
    }

    .controls {
      display: flex;
      align-items: flex-end;
      width: 100%;
      opacity: 1;
      transition: opacity 300ms ease-in-out;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding: 16px;
      box-sizing: border-box;
      gap: 8px;

      @media screen and (max-width: 645px) {
        opacity: 1;
      }

      .controls-container {
        flex: auto;
        flex-direction: column-reverse;
        display: flex;

        .info-wrapper {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          gap: 6px;

          .name {
            font-size: var(--fontSizeM);
            font-weight: 700;
            color: var(--White);
          }

          .time {
            font-size: var(--fontSizeS);
            color: var(--secondaryLightTextColor);
          }
        }

        .timeline-wrapper {
          position: absolute;
          top: -24px;
          left: 16px;
          width: calc(100% - 32px);
          padding: 20px 0;

          .timeline {
            background: var(--timelineColor);
          }
        }
      }

      .toggle-play {
        transition: none;

        cursor: pointer;
        position: relative;
        left: 0;
        height: 18px;
        width: 18px;
        background-repeat: no-repeat;
        background-color: var(--White);
        border-radius: 100%;
        padding: 11px;
        background-position: center center;
        background-size: 24px;

        &.play {
          background-image: url("/assets/imgs/controls/canvas/play.svg");
        }

        &.pause {
          background-image: url("/assets/imgs/controls/canvas/pause.svg");
        }
      }

      .time {
        display: flex;

        > * {
          padding: 2px;
        }
      }
    }
  }
}

:host(.album) {
  .audio-player {
    .controls {
      flex: auto;
      flex-direction: column-reverse;
      display: flex;
      .info-wrapper {
        display: flex;
        width: 100%;
        min-height: 32px;
        align-items: center;
        justify-content: space-between;
      }

      .controls-container {
        position: relative;
        padding-top: var(--padding);
      }

      .timeline-wrapper {
        position: relative;
        cursor: pointer;
        padding: 4px 0;
        width: calc(100% - 47px);
        justify-self: flex-end;

        .timeline {
          border-radius: 4px;
          background: var(--timelineColor);
          width: 100%;
          position: relative;
          height: 2px;
        }

        .progress {
          border-radius: 4px;
          background: var(--timelineProgress);
          width: 0%;
          height: 2px;
          transition: 0.25s;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .index {
        min-width: 32px;
        justify-content: center;
        padding-right: calc(var(--padding) * 2);
      }

      .index,
      .name {
        color: var(--White);
        font-size: var(--fontSizeS);
        display: flex;
        align-items: center;
      }
      .time {
        color: var(--light-opacity-60);
        font-size: var(--fontSizeXS);
      }

      &:not(.mobile):hover,
      &.is-active {
        .index {
          display: none;
        }
        .toggle-play {
          transition: none;
          cursor: pointer;
          position: relative;
          top: 6px;
          left: 0;
          height: 10px;
          width: 10px;
          background-repeat: no-repeat;
          background-color: var(--primaryTextColor);
          border-radius: 100%;
          padding: 11px;
          background-position: center center;
          background-size: 24px;
          margin-right: calc(var(--padding) * 2);

          &.play {
            background-image: url("/assets/imgs/controls/canvas/play.svg");
          }

          &.pause {
            background-image: url("/assets/imgs/controls/canvas/pause.svg");
          }
        }

        .time {
          display: flex;

          > * {
            padding: 2px;
          }
        }
      }
    }
  }
}
