<div class="audio-player">  
  <div class="video" *ngIf="type === 'canvas' && track.isCurrent">
    <video #video [autoplay]="true" [muted]="true" [loop]="true">
      <source [src]="trackVideo" type="video/mp4">
    </video>
    <div class="video-overlay">
      
    </div>
  </div>
  <div class="controls">
    <div class="play-container">
      <div class="toggle-play" [ngClass]="{'play': !track.isPlaying, 'pause': track.isPlaying}" (click)="playTrack()">
      </div>
    </div>
    <div class="controls-container">
      <div class="info-wrapper">
        <div class="name">{{track.title}}</div>
        <div class="time">
          <div class="length">{{track.duration}}</div>
        </div>
      </div>
      <div class="timeline-wrapper" (click)="setTimeline($event)">
        <div class="timeline" #timeline></div>
        <div class="progress" #progress></div>
      </div>
    </div>
  </div>
  <audio preload="metadata" #audio></audio>
</div>