@font-face {
  font-family: "titillium-web-light";
  src: url("/fonts/titilliumweb-light-webfont.eot");
  src:
    url("/fonts/titilliumweb-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/titilliumweb-light-webfont.woff2") format("woff2"),
    url("/fonts/titilliumweb-light-webfont.woff") format("woff"),
    url("/fonts/titilliumweb-light-webfont.ttf") format("truetype"),
    url("/fonts/titilliumweb-light-webfont.svg#titillium_weblight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "titillium-web-regular";
  src: url("/fonts/titilliumweb-regular-webfont.eot");
  src:
    url("/fonts/titilliumweb-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/titilliumweb-regular-webfont.woff2") format("woff2"),
    url("/fonts/titilliumweb-regular-webfont.woff") format("woff"),
    url("/fonts/titilliumweb-regular-webfont.ttf") format("truetype"),
    url("/fonts/titilliumweb-regular-webfont.svg#titillium_webregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "titillium-web-semibold";
  src: url("/fonts/titilliumweb-semibold-webfont.eot");
  src:
    url("/fonts/titilliumweb-semibold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/titilliumweb-semibold-webfont.woff2") format("woff2"),
    url("/fonts/titilliumweb-semibold-webfont.woff") format("woff"),
    url("/fonts/titilliumweb-semibold-webfont.ttf") format("truetype"),
    url("/fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "titillium-web-bold";
  src:
    url("/fonts/titilliumweb-bold-webfont.woff2") format("woff2"),
    url("/fonts/titilliumweb-bold-webfont.woff") format("woff"),
    url("/fonts/titilliumweb-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "sweetq";
  src: url("/fonts/sweetq.eot");
  src:
    url("/fonts/sweetq.eot?#iefix") format("embedded-opentype"),
    url("/fonts/sweetq.woff") format("woff"),
    url("/fonts/sweetq.ttf") format("truetype"),
    url("/fonts/sweetq.svg#sweetq") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interstate-light";
  src: url("/fonts/interstate_light_comp-webfont.eot");
  src:
    url("/fonts/interstate_light_comp-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/interstate_light_comp-webfont.woff2") format("woff2"),
    url("/fonts/interstate_light_comp-webfont.woff") format("woff"),
    url("/fonts/interstate_light_comp-webfont.ttf") format("truetype"),
    url("/fonts/interstate_light_comp-webfont.svg#interstateregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interstate-regular";
  src: url("/fonts/interstate_regular_comp-webfont.eot");
  src:
    url("/fonts/interstate_regular_comp-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/interstate_regular_comp-webfont.woff2") format("woff2"),
    url("/fonts/interstate_regular_comp-webfont.woff") format("woff"),
    url("/fonts/interstate_regular_comp-webfont.ttf") format("truetype"),
    url("/fonts/interstate_regular_comp-webfont.svg#interstateregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins_thin_250.eot");
  src:
    url("/fonts/poppins_thin_250.eot?#iefix") format("embedded-opentype"),
    url("/fonts/poppins_thin_250.woff2") format("woff2"),
    url("/fonts/poppins_thin_250.woff") format("woff"),
    url("/fonts/poppins_thin_250.ttf") format("truetype"),
    url("/fonts/poppins_thin_250.svg#poppinsthin") format("svg");
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins_extralight_275.eot");
  src:
    url("/fonts/poppins_extralight_275.eot?#iefix") format("embedded-opentype"),
    url("/fonts/poppins_extralight_275.woff2") format("woff2"),
    url("/fonts/poppins_extralight_275.woff") format("woff"),
    url("/fonts/poppins_extralight_275.ttf") format("truetype"),
    url("/fonts/poppins_extralight_275.svg#poppinsextralight") format("svg");
  font-weight: 275;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins_light_300.eot");
  src:
    url("/fonts/poppins_light_300.eot?#iefix") format("embedded-opentype"),
    url("/fonts/poppins_light_300.woff2") format("woff2"),
    url("/fonts/poppins_light_300.woff") format("woff"),
    url("/fonts/poppins_light_300.ttf") format("truetype"),
    url("/fonts/poppins_light_300.svg#poppinslight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins_regular_400.eot");
  src:
    url("/fonts/poppins_regular_400.eot?#iefix") format("embedded-opentype"),
    url("/fonts/poppins_regular_400.woff2") format("woff2"),
    url("/fonts/poppins_regular_400.woff") format("woff"),
    url("/fonts/poppins_regular_400.ttf") format("truetype"),
    url("/fonts/poppins_regular_400.svg#poppinsregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins_medium_500.eot");
  src:
    url("/fonts/poppins_medium_500.eot?#iefix") format("embedded-opentype"),
    url("/fonts/poppins_medium_500.woff2") format("woff2"),
    url("/fonts/poppins_medium_500.woff") format("woff"),
    url("/fonts/poppins_medium_500.ttf") format("truetype"),
    url("/fonts/poppins_medium_500.svg#poppinsmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins_semibold_600.eot");
  src:
    url("/fonts/poppins_semibold_600.eot?#iefix") format("embedded-opentype"),
    url("/fonts/poppins_semibold_600.woff2") format("woff2"),
    url("/fonts/poppins_semibold_600.woff") format("woff"),
    url("/fonts/poppins_semibold_600.ttf") format("truetype"),
    url("/fonts/poppins_semibold_600.svg#poppinssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins_bold_700.eot");
  src:
    url("/fonts/poppins_bold_700.eot?#iefix") format("embedded-opentype"),
    url("/fonts/poppins_bold_700.woff2") format("woff2"),
    url("/fonts/poppins_bold_700.woff") format("woff"),
    url("/fonts/poppins_bold_700.ttf") format("truetype"),
    url("/fonts/poppins_bold_700.svg#poppinsbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins_extrabold_800.eot");
  src:
    url("/fonts/poppins_extrabold_800.eot?#iefix") format("embedded-opentype"),
    url("/fonts/poppins_extrabold_800.woff2") format("woff2"),
    url("/fonts/poppins_extrabold_800.woff") format("woff"),
    url("/fonts/poppins_extrabold_800.ttf") format("truetype"),
    url("/fonts/poppins_extrabold_800.svg#poppinsextrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins_black_900.eot");
  src:
    url("/fonts/poppins_black_900.eot?#iefix") format("embedded-opentype"),
    url("/fonts/poppins_black_900.woff2") format("woff2"),
    url("/fonts/poppins_black_900.woff") format("woff"),
    url("/fonts/poppins_black_900.ttf") format("truetype"),
    url("/fonts/poppins_black_900.svg#poppinsblack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "mont";
  src: url("/fonts/mont-thin.eot");
  src:
    url("/fonts/mont-thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mont-thin.woff2") format("woff2"),
    url("/fonts/mont-thin.woff") format("woff"),
    url("/fonts/mont-thin.ttf") format("truetype"),
    url("/fonts/mont-thin.svg#montthin") format("svg");
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: "mont";
  src: url("/fonts/mont-extralight.eot");
  src:
    url("/fonts/mont-extralight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mont-extralight.woff2") format("woff2"),
    url("/fonts/mont-extralight.woff") format("woff"),
    url("/fonts/mont-extralight.ttf") format("truetype"),
    url("/fonts/mont-extralight.svg#montextralight") format("svg");
  font-weight: 275;
  font-style: normal;
}

@font-face {
  font-family: "mont";
  src: url("/fonts/mont-light.eot");
  src:
    url("/fonts/mont-light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mont-light.woff2") format("woff2"),
    url("/fonts/mont-light.woff") format("woff"),
    url("/fonts/mont-light.ttf") format("truetype"),
    url("/fonts/mont-light.svg#montlight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "mont";
  src: url("/fonts/mont-regular.eot");
  src:
    url("/fonts/mont-regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mont-regular.woff2") format("woff2"),
    url("/fonts/mont-regular.woff") format("woff"),
    url("/fonts/mont-regular.ttf") format("truetype"),
    url("/fonts/mont-regular.svg#montregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "mont";
  src: url("/fonts/mont-semibold.eot");
  src:
    url("/fonts/mont-semibold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mont-semibold.woff2") format("woff2"),
    url("/fonts/mont-semibold.woff") format("woff"),
    url("/fonts/mont-semibold.ttf") format("truetype"),
    url("/fonts/mont-semibold.svg#montsemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "mont";
  src: url("/fonts/mont-bold.eot");
  src:
    url("/fonts/mont-bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mont-bold.woff2") format("woff2"),
    url("/fonts/mont-bold.woff") format("woff"),
    url("/fonts/mont-bold.ttf") format("truetype"),
    url("/fonts/mont-bold.svg#montbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "mont";
  src: url("/fonts/mont-heavy.eot");
  src:
    url("/fonts/mont-heavy.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mont-heavy.woff2") format("woff2"),
    url("/fonts/mont-heavy.woff") format("woff"),
    url("/fonts/mont-heavy.ttf") format("truetype"),
    url("/fonts/mont-heavy.svg#montheavy") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "mont";
  src: url("/fonts/mont-black.eot");
  src:
    url("/fonts/mont-black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mont-black.woff2") format("woff2"),
    url("/fonts/mont-black.woff") format("woff"),
    url("/fonts/mont-black.ttf") format("truetype"),
    url("/fonts/mont-black.svg#montblack") format("svg");
  font-weight: 900;
  font-style: normal;
}
