@import url("fonts.css");
@import url("icons.css");

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "titillium-web-regular";
  color: #16181a;
  margin: 0;
  overflow: auto;
  position: absolute;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.bold {
  font-family: "titillium-web-semibold";
}

.sq-view {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.sq-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sq-button .sq-icon.icon-gigs {
  font-size: 18px;
}

.sq-line > * {
  display: inline-block;
  vertical-align: middle;
}

.flex-width {
  display: flex;
  align-items: center;
}
sweetq-gigs {
  position: relative;
  z-index: 0;
}

.sq-bg {
  width: 100%;
  height: 100%;
  max-height: 768px;
  min-height: 500px;
  color: #fff;
  background-image: url("../imgs/img-sweetq.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.sq-bg:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(18, 22, 25, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.sq-bg-video {
  position: absolute;
  object-fit: cover;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.sq-bg:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(18, 22, 25, 0) 39.81%,
    rgba(18, 22, 25, 0.8) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.sq-wrapper {
  max-width: 1200px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}
.sq-logo {
  flex: 8;
  display: flex;
  align-items: flex-end;
}

.sq-logo .sq-logo-image {
  width: 500px;
  height: 75px;
  margin: 0 auto;
  background-image: url("../imgs/logo-sweetq.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.25s linear;
}

.sq-headline {
  font-size: 24px;
  line-height: 30px;
  padding: 0 10px 30px 10px;
}

.sq-text {
  font-size: 20px;
  line-height: 28px;
}

.sq-text .bold {
  font-family: "titillium-web-semibold";
}

.sq-button {
  display: inline-flex;
  align-items: center;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  text-transform: none;
  text-decoration: none;
  transition: box-shadow 0.15s ease-out;
}

.sq-button.mini-padding {
  padding: 2px;
}
.sq-button.mini-padding.text {
  padding: 2px 6px 2px 20px;
}
.sq-button.disabled {
  cursor: default;
}

.sq-button .sq-icon {
  position: relative;
  display: block;
  height: 38px;
  width: 38px;
  font-size: 34px;
  color: #ffffff;
}

.sq-button .sq-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.sq-button .sq-button-text {
  height: 38px;
  line-height: 38px;
  padding: 0px 14px;
  font-family: "titillium-web-semibold";
  font-size: 16px;
}

.sq-button.rounded {
  border-radius: 80px;
}

.sq-button.solid-blue {
  color: #fff;
  background-color: #24aeb8;
  box-shadow: 0 0 0 0 rgba(36, 174, 184, 0);
}
.sq-button.solid-blue:hover {
  box-shadow: 0 0 0 3px rgba(36, 174, 184, 0.3);
}

.sq-button.line-blue {
  color: #24aeb8;
  box-shadow: inset 0 0 1px 0 #24aeb8;
}
.sq-button.line-blue:hover {
  box-shadow: inset 0 0 1px 0 #24aeb8, 0 0 0 3px rgba(36, 174, 184, 0.3);
}
.sq-button.line-blue .sq-icon {
  color: #24aeb8;
}

.sq-button.sq-spotify {
  padding: 6px 10px 6px 6px;
  background-color: #1db954;
  border: solid 1px #1db954;
  border-radius: 50px;
  box-shadow: 0 0 0 0 rgba(29, 185, 84, 0.5);
}
.sq-button.sq-spotify:hover {
  box-shadow: 0 0 0 4px rgba(29, 185, 84, 0.5);
}
.sq-button .sq-icon.icon-spotify:before {
  top: calc(50% + 2px);
}

.sq-button.sq-spotify:active .sq-button.sq-spotify:visited,
.sq-button.sq-spotify:focus,
.sq-button.sq-spotify:hover,
.sq-button.sq-spotify .sq-button-text {
  color: #ffffff;
}

.sq-section .sq-title-wrapper {
  padding-bottom: 30px;
}

.sq-section .sq-subtitle {
  font-family: "interstate-light";
  font-size: 36px;
  text-transform: uppercase;
}

.sq-section .sq-heading {
  font-family: "interstate-light";
  font-size: 18px;
  text-transform: uppercase;
}
.sq-section .sq-heading.disabled {
  opacity: 0.3;
}

.sq-platforms {
  min-width: 415px;
  flex: 2;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 42px;
}

.sq-platforms iframe {
  height: 80px;
}

.sq-platforms .sq-text {
  padding-bottom: 22px;
}
.sq-platforms-icons {
  margin-top: 36px;
  flex: 1;
}

.sq-platforms-icons .sq-button {
  margin: 0 10px;
}

.sq-platforms-icons .sq-button.disabled:hover .sq-logo {
  transition: none;
  cursor: default;
}

.sq-platforms-icons .sq-button .sq-logo {
  transition: background-size 0.1s cubic-bezier(0.4, 0, 1, 1);
}
.sq-platforms-icons .sq-button:hover .sq-logo {
  background-size: contain;
  color: #fff;
}
.sq-platforms-icons .sq-button .sq-logo {
  background-repeat: no-repeat;
  background-position: center;
  height: 38px;
  width: 100px;
}
.logo-youtube-music {
  background-image: url(/assets/imgs/logos/logo-youtubeMusic-white.svg);
}
.logo-spotify {
  background-image: url(/assets/imgs/logos/logo-spotify-white.svg);
}
.logo-apple-music {
  background-image: url(/assets/imgs/logos/logo-apple-white.svg);
}
.logo-amazon {
  background-image: url(/assets/imgs/logos/logo-amazon-white.svg);
}

.sq-contact-icons {
  text-align: center;
  padding: 40px 0;
  background-color: #16181a;
}
.sq-contact-icons .sq-button {
  padding: 6px 12px;
}
.sq-contact-icons .sq-button .sq-icon {
  height: 30px;
  width: 30px;
  font-size: 26px;
  color: #c1c5cb;
  transition: all 0.1s cubic-bezier(0.4, 0, 1, 1);
}
.sq-contact-icons .sq-button:hover .sq-icon {
  font-size: 32px;
  color: #fff;
}

.sq-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
}

.sq-modal-preview {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.sq-modal-preview iframe,
.sq-modal-preview object,
.sq-modal-preview embed {
  margin: 0 auto;
  width: 95%;
  height: 95%;
}

.sq-modal-preview iframe {
  padding: 2% 0;
}

.sq-modal-preview.spotify iframe {
  max-width: 350px;
  max-height: 280px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.sq-section {
  padding: 50px 20px;
  box-sizing: content-box;
}

.sq-half-columns {
  display: flex;
  align-items: center;
  width: 100%;
}

.sq-half-columns .sq-column {
  flex: 1;
}

.sq-half-columns .sq-column.column-left {
  align-self: flex-start;
}

.sq-image-wrapper {
  width: 100%;
}

.sq-image-wrapper video {
  width: 100%;
  height: 100%;
}

.gig .sq-image-wrapper {
  max-width: 400px;
  aspect-ratio: 16 / 9;
}

.sq-image {
  box-sizing: border-box;
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
}

sweetq-videos + sweetq-info .sq-image-wrapper.square .sq-image {
  padding-top: calc(100% + 30px);
}
.sq-image-wrapper.square .sq-image {
  width: 100%;
}

.sq-image-wrapper.panoramic .sq-image {
  width: 100%;
  padding-top: 56.25%;
}

.sq-aside-actions {
  display: flex;
  align-items: center;
}
.sq-aside-actions .sq-button {
  margin-left: 10px;
}

/* Kit notice */
.sq-section.notice .sq-wrapper {
  max-width: 1024px;
}
.sq-section.notice .sq-title {
  font-family: "interstate-regular";
  color: #16181a;
  font-size: 70px;
  text-transform: uppercase;
}
.sq-section.notice .sq-subtitle {
  color: #9f876a;
  padding: 10px 0;
}
.sq-section.notice .sq-text {
  padding: 0 65px 22px 0;
}
.sq-section.notice .sq-actions {
  padding-top: 32px;
}

.sq-section.notice .sq-image-wrapper {
  width: 75%;
  margin: 0 auto;
}

.sq-section.notice.contest .sq-half-columns .column-left,
.sq-section.notice.gig .sq-half-columns .column-left {
  max-width: 30vw;
}
.sq-section.notice.contest .sq-image-wrapper,
.sq-section.notice.gig .sq-image-wrapper {
  width: 75%;
  margin: 0 auto;
  aspect-ratio: 9 / 12;
}

.sq-section.notice.info.cover .sq-image.image-cover {
  position: relative;
  background-image: unset;
  height: 0px;
  padding-top: 100%;
}

.sq-section.notice.info.cover .sq-image.image-cover:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  background-position: center top;
  background-size: cover;
  z-index: 0;
  padding-top: 100%;
  transform: translateY(-100%);
}
.sq-section.notice.info.cover .sq-image.image-cover:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  background-position: center top;
  width: 90%;
  height: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  filter: blur(20px);
  bottom: 0;
}

.sq-section.notice.info.losiento .sq-image.image-cover:before,
.sq-section.notice.info.losiento .sq-image.image-cover:after {
  background-image: url("../imgs/cover/losiento.jpg");
}

.sq-section.notice.info.atrapado .sq-image.image-cover:before,
.sq-section.notice.info.atrapado .sq-image.image-cover:after {
  background-image: url("../imgs/cover/atrapado.jpg");
}

.sq-section.notice.info.quevamosahacer .sq-image.image-cover:before,
.sq-section.notice.info.quevamosahacer .sq-image.image-cover:after {
  background-image: url("../imgs/cover/quevamos.jpg");
}

.sq-section.notice.info.ley .sq-image.image-cover:before,
.sq-section.notice.info.ley .sq-image.image-cover:after {
  background-image: url("../imgs/cover/ley.jpg");
}

.sq-section.notice.info.fiesta .sq-image.image-cover:before,
.sq-section.notice.info.fiesta .sq-image.image-cover:after {
  background-image: url("../imgs/cover/fiesta.jpg");
}

.sq-section.notice.info.yaesnavidad .sq-image.image-cover:before,
.sq-section.notice.info.yaesnavidad .sq-image.image-cover:after {
  background-image: url("../imgs/cover/yaesnavidad.jpg");
}

.sq-section.notice.info.golpedesuerte .sq-image.image-cover:before,
.sq-section.notice.info.golpedesuerte .sq-image.image-cover:after {
  background-image: url("../imgs/cover/golpedesuerte.jpg");
}

.sq-section.notice.info .sq-image.image-cover {
  position: relative;
  background-position: center top;
}

.sq-section.notice.video .sq-half-columns {
  align-items: flex-start;
}

.sq-section.notice.video .column-left {
  padding-top: 24px;
}

.sq-section.notice.video .sq-image.image-cover {
  position: relative;
}

.sq-section.notice.video.fiestas-arganzuela .sq-image.image-cover {
  background-image: url("../imgs/youtube/live/fiestasarganzuela.jpg");
}

.sq-section.notice.video.ley .sq-image.image-cover {
  background-image: url("../imgs/youtube/videoclips/ley.webp");
}

.sq-section.notice.video.fiestas-arganzuela .column-left {
  padding-top: 0px;
}
.sq-section.notice.video.makingof.atrapado .sq-image.image-cover {
  background-image: url("../imgs/youtube/makingof/atrapado.jpg");
}

.sq-section.notice.info.contest .sq-image.image-cover,
.sq-section.notice.info.gig .sq-image.image-cover {
  position: relative;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.sq-section.notice.info.contest .sq-image.image-cover:before,
.sq-section.notice.info.gig .sq-image.image-cover:before {
  content: "";
  position: relative;
  display: block;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  aspect-ratio: 9 / 12;
  top: 0;
  left: 0;
  width: 100%;
}

.sq-section.notice.info.contest.lesarts .sq-image.image-cover:before {
  background-image: url("../imgs/contest/lesarts.jpg");
}

.sq-section.notice.info.gig.g20250419 .sq-image.image-cover:before {
  background-image: url("../imgs/gigs/20250419.jpg");
}
.sq-section.notice.info.gig.g20250325 .sq-image.image-cover:before {
  background-image: url("../imgs/gigs/20250325.png");
}

.sq-section.notice.info.gig.g20250419 .sq-image.image-cover:before,
.sq-section.notice.info.gig.g20250325 .sq-image.image-cover:before {
  left: 50%;
  transform: translateX(-50%);
}
.sq-section.notice.info.gig.g20250419 .sq-column.column-left,
.sq-section.notice.info.gig.g20250325 .sq-column.column-left {
  min-width: 45%;
  padding-bottom: 24px;
}

.sq-section.notice.info.gig.g20241004 .sq-button .sq-button-text {
  padding-left: 0px;
}

.sq-section.notice.video .column-right,
.sq-section.notice.info .column-right {
  text-align: left;
}

/* Kit prensa */
.sq-section.kit {
  background-color: #282c33;
}
.sq-section.kit .sq-subtitle {
  color: #24adb7;
}
.sq-section.kit .sq-text {
  color: #e3e6ea;
  padding-bottom: 10px;
}
.sq-section.kit .peso {
  font-size: 13px;
  font-family: "titillium-web-regular";
  color: rgba(255, 255, 255, 0.8);
}
.sq-section.kit .sq-actions {
  padding-top: 32px;
}

/* Gigs */
.sq-section.gigs {
  padding: 70px 20px 100px 20px;
  background-color: #16181a;
  color: #fff;
}
.sq-section.gigs .sq-title-wrapper {
  padding-bottom: 10px;
}
.sq-section.gigs .sq-subtitle {
  color: #e3e6ea;
}
.gigs .sq-gigs-list-wrapper {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.gigs .sq-gigs-list-wrapper .sq-heading {
  text-align: left;
  padding: 32px 0px 8px;
}

.gigs .sq-gigs-list .sq-item:first-child {
  border-top: none;
}
.gigs .sq-gigs-list .sq-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 -1px 0px;
  padding: 16px 0px;
  box-sizing: border-box;
  line-height: 18px;
  border-bottom: 1px solid #6d7179;
  border-top: 1px solid #6d7179;
  text-align: left;
  margin-bottom: -1px;
}

.gigs .sq-gigs-list > .sq-text {
  text-align: center;
}
.gigs .sq-item .sq-item-data {
  padding: 0 10px 0 22px;
  width: 100%;
  flex: 1;
}
.gigs .sq-item .sq-item-data .sq-title {
  min-height: 28px;
  position: relative;
}
.gigs .sq-item .sq-item-data .sq-gig-info,
.gigs .sq-item .sq-item-data .sq-participants {
  min-height: 22px;
  position: relative;
}
.gigs .sq-item .sq-item-data .sq-participants .sq-line {
  color: #24aeb8;
}
.gigs .sq-item .sq-item-data .sq-item-title {
  font-size: 18.5px;
  line-height: 28px;
  font-weight: 700;
  width: 100%;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gigs .sq-item .sq-item-data .sq-gig-info .sq-line,
.gigs .sq-item .sq-item-data .sq-participants .sq-line {
  width: 100%;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gigs .sq-item .sq-text {
  font-size: 16px;
  line-height: 22px;
}
.gigs .sq-item .sq-item-data .sq-gig-info .sq-text,
.gigs .sq-item .sq-item-data .sq-gig-info .sq-line-space {
  color: #c1c5cb;
}
.gigs .sq-item .sq-item-data .sq-gig-info .sq-line-space {
  padding: 0px 4px;
}

.gigs .sq-item .sq-item-data .sq-participants .sq-line-space {
  display: inline-block;
  padding: 0px 5px;
}
.gigs .sq-item .sq-item-data .sq-participants .sq-text,
.gigs .sq-item .sq-item-data .sq-participants .sq-line-space {
  text-decoration: none;
}

.gigs .sq-item .sq-item-data .sq-gig-info .sq-link {
  cursor: pointer;
}

.gigs .sq-item .sq-item-data .sq-participants .sq-text .sq-link {
  color: #24aeb8;
  text-decoration: none;
  display: inline;
}
.gigs .sq-gigs-list .sq-item.old-gig {
  opacity: 0.3;
}

.sq-gig-day {
  align-self: flex-start;
  text-align: center;
}
.sq-gig-day > .day {
  font-size: 40px;
  line-height: 42px;
  text-transform: uppercase;
  display: block;
}
.sq-gig-day > .month,
.sq-gig-day > .year {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
}

/* Videos */
.sq-section.videos {
  padding: 70px 20px 30px 20px;
  background-color: #282c33;
  color: #fff;
}
.sq-section.videos .sq-title-wrapper {
  padding-bottom: 60px;
  text-align: center;
}
.sq-section.videos .sq-subtitle {
  color: #e3e6ea;
}
.sq-videos-list .sq-item {
  margin-bottom: 24px;
}
.sq-video {
  cursor: pointer;
  z-index: 1;
  border-radius: 2px;
  overflow: hidden;
}
.sq-video .sq-frame {
  position: relative;
  width: 100%;
  padding-top: 42.6%;
  box-sizing: border-box;
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 1px 1px #15181b;
}

.sq-video.atrapadoeneltiempo .sq-frame {
  background-image: url("../imgs/youtube/videoclips/atrapadoeneltiempo.webp");
}

.sq-video.caminocorrecto .sq-frame {
  background-image: url("../imgs/youtube/videoclips/caminocorrecto.webp");
}

.sq-video.cosasclaras .sq-frame {
  background-image: url("../imgs/youtube/videoclips/cosasclaras.webp");
}
.sq-video.quevamosahacer .sq-frame {
  background-image: url("../imgs/youtube/videoclips/quevamosahacer.webp");
}
.sq-video.losiento .sq-frame {
  background-image: url("../imgs/youtube/videoclips/losiento.webp");
}
.sq-video.ley .sq-frame {
  background-image: url("../imgs/youtube/videoclips/ley.webp");
}
.sq-video.golpedesuerte .sq-frame {
  background-image: url("../imgs/youtube/videoclips/golpedesuerte.webp");
}
.sq-video .sq-video-title {
  padding-top: 18px;
}
.sq-video .sq-video-title-text {
  font-size: 20px;
  line-height: 24px;
  font-family: "titillium-web-semibold";
  padding: 6px 10px;
  display: inline-block;
}
.sq-video:hover .sq-video-title-text {
  background-color: rgba(21, 24, 27, 0.75);
  border-radius: 3px;
}
.sq-play-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sq-button .sq-icon.icon-play {
  height: 88px;
  width: 88px;
  font-size: 74px;
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
  opacity: 0.9;
}
.sq-video:hover .sq-button .sq-icon.icon-play {
  font-size: 88px;
  opacity: 1;
}

.sq-videos-list.flex-width {
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.sq-videos-list.flex-width .sq-item {
  flex: 1;
  margin: 0 18px 24px 18px;
  min-width: 300px;
  max-width: 300px;
}

@media (max-width: 767px) {
  .sq-bg {
    background-image: url("../imgs/img-sweetq-mobile.webp");
  }

  .sq-button .sq-icon.icon-play {
    height: 68px;
    width: 68px;
    font-size: 58px;
  }
  .sq-video:hover .sq-button .sq-icon.icon-play {
    font-size: 72px;
  }
  .sq-video .sq-frame .sq-video-title-text {
    font-size: 18px;
  }
  .sq-contact-icons {
    padding: 20px 0;
  }
  .sq-ep.sq-platforms {
    top: 66%;
  }

  .sq-videos-list.flex-width .sq-item {
    min-width: 100%;
  }
}

@media (max-width: 660px) {
  .sq-half-columns {
    display: block;
    transition: all 0.5s linear;
  }
  .sq-image-wrapper {
    margin: 0 auto;
  }
  .notice.contest .sq-image-wrapper,
  .notice.gig .sq-image-wrapper {
    max-width: 320px;
  }

  .sq-section.notice.contest .sq-half-columns .column-left,
  .sq-section.notice.gig .sq-half-columns .column-left {
    max-width: unset;
  }
  .sq-section .sq-title {
    font-size: 54px;
  }
  .sq-section .sq-text {
    font-size: 18px;
    line-height: 26px;
  }
  .sq-section .sq-actions {
    padding-top: 8px;
  }
  .sq-section.gigs {
    padding: 50px 20px 80px 20px;
  }
  .sq-section.gigs .sq-title-wrapper {
    padding-bottom: 10px;
  }
  .sq-section.videos {
    padding: 50px 20px 20px 20px;
  }
  .sq-section.videos .sq-title-wrapper {
    padding-bottom: 50px;
  }
  .sq-section.notice .sq-image-wrapper {
    margin: 0 auto 38px auto;
    max-width: 200px;
  }

  .sq-section.notice .sq-actions {
    text-align: center;
  }
  .sq-section.notice.info {
    padding: 20px 20px 50px 20px;
  }
  .sq-section .sq-title-wrapper {
    text-align: center;
  }
  .sq-section.notice .sq-text {
    padding: 0;
  }
  .sq-platforms-icons .sq-button {
    margin: 0px;
    padding: 0px;
  }

  .sq-logo .sq-logo-image {
    width: 400px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .sq-bg-video {
    height: unset;
    width: 100%;
  }
  .sq-button .sq-icon.icon-play {
    height: 52px;
    width: 52px;
    font-size: 40px;
  }
  .sq-video:hover .sq-button .sq-icon.icon-play {
    font-size: 52px;
  }
  .sq-video .sq-frame .sq-video-title-text {
    font-size: 16px;
  }
  .sq-contact-icons {
    padding: 14px 0;
  }
  .sq-contact-icons .sq-button .sq-icon {
    font-size: 22px;
  }
  .notice.contest .sq-image-wrapper,
  .notice.gig .sq-image-wrapper {
    max-width: 270px;
  }
  .gigs .sq-gigs-list .sq-item {
    display: block;
  }
  .gigs .sq-gigs-list .sq-item > div {
    display: inline-block;
    vertical-align: middle;
  }
  .gigs .sq-gigs-list .sq-item .sq-gig-day {
    width: 46px;
  }
  .gigs .sq-gigs-list .sq-item .sq-item-data {
    width: calc(100% - 90px);
  }
  .gigs .sq-gigs-list .sq-item .sq-item-aside {
    padding: 10px 0 0 66px;
  }
  .sq-section.gigs .sq-title-wrapper {
    padding-bottom: 10px;
  }
  .sq-section.videos .sq-title-wrapper {
    padding-bottom: 40px;
  }
  .sq-headline {
    font-size: 22px;
    line-height: 28px;
    max-width: 244px;
    margin: 0 auto;
  }
  .sq-platforms .sq-text {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 14px;
  }

  .sq-logo .sq-logo-image {
    width: 300px;
    height: 50px;
  }

  .sq-platforms-icons .sq-button .sq-logo {
    width: 85px;
  }

  .sq-platforms {
    min-width: calc(100% - 40px);
  }
}

@media (max-width: 380px) {
  .sq-video .sq-frame .sq-video-title-text {
    font-size: 14px;
  }
  .sq-button .sq-icon.icon-play {
    height: 40px;
    width: 40px;
    font-size: 30px;
  }
  .sq-video:hover .sq-button .sq-icon.icon-play {
    font-size: 42px;
  }
  .sq-section .sq-subtitle {
    font-size: 32px;
  }
  .sq-section.gigs .sq-title-wrapper {
    padding-bottom: 10px;
  }
  .sq-section.gigs {
    padding: 42px 20px 58px 20px;
  }
  .sq-section.videos {
    padding: 36px 20px 10px 20px;
  }
  .sq-section.videos .sq-title-wrapper {
    padding-bottom: 32px;
  }
  .sq-video .sq-video-title-text {
    font-size: 18px;
    line-height: 22px;
    padding: 4px 10px;
  }
  .sq-section.notice .sq-text {
    padding-bottom: 2px;
  }
  .sq-section .sq-title-wrapper {
    padding-bottom: 22px;
  }
  .sq-section.notice .sq-image-wrapper {
    margin: 0 auto 38px auto;
    max-width: 170px;
  }
  .sq-section.kit .sq-text {
    max-width: 254px;
    margin: 0 auto;
  }
  .sq-section.notice .sq-title-wrapper {
    margin-top: 40px;
  }
}

@media (min-width: 660px) {
  .sq-half-columns .sq-column.column-left {
    max-width: 45%;
  }
}

@media (min-width: 1366px) {
  .sq-section.notice .sq-wrapper {
    max-width: 1366px;
  }

  .sq-bg-video {
    height: unset;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .sq-bg {
    max-height: 84vh;
  }
  .sq-videos-list.flex-width .sq-item {
    min-width: unset;
    max-width: unset;
  }
}
@media (min-width: 2560px) {
  .sq-bg {
    max-height: 70vh;
  }
}
