@use "@scss/mixins" as *;

:root {
  --contenteditable-toolbar-height: 32px;
}

.contenteditable {
  height: 100%;
  width: 100%;
  font-size: var(--text-font-size);
  line-height: calc(var(--text-font-size) * 1.1);
  &:focus {
    outline: none;
  }

  &--actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding);
    height: var(--contenteditable-toolbar-height);
  }

  &--scroll {
    overflow: auto;
    height: calc(100% - var(--contenteditable-toolbar-height));
    width: 100%;
    padding: var(--padding);
  }
  &--wrapper {
    position: relative;
    width: 100%;
    cursor: pointer;
    font-size: var(--controls-font-size);
    border-bottom: solid 1px var(--cds-input-border-color);
    height: 200px;
    background-color: var(--cds-field);

    &.disabled {
      .select--selected {
        user-select: none;
        cursor: default;
        opacity: 0.5;
      }
    }
    &::placeholder,
    &--placeholder {
      color: var(--light-text-placeholder);
    }
  }
}

.contenteditable--wrapper[data-variant="input"] {
  max-height: 50px;
  position: absolute;
  width: calc(100% - calc(var(--padding) * 2));
  left: 0;
  display: flex;

  .contenteditable--scroll {
    height: 100%;
    flex: auto;
  }
  .contenteditable--actions {
    position: relative;

    flex: 1;
    height: 100%;
    display: flex;
    gap: var(--padding);
  }
}

.cds--form-item {
  position: relative;
  width: 100%;
  .emoji-picker {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 100%;
  }
}
.invisible {
  display: none;
}

@include heightBreakpoint(small) {
  .emoji-picker {
    zoom: 0.8;
  }
}
