<sweetq-header (playAlbumEvent)="playAlbum = $event"></sweetq-header>
<sweetq-gigs (showMapEvent)="showMap = $event.showMap; mapUrl = $event.mapUrl"></sweetq-gigs>
<sweetq-videos (showVideoEvent)="showVideo = $event.showVideo; videoUrl = $event.videoUrl" [halfVideos]="halfVideos" [showVideo]="showVideo"></sweetq-videos>
<sweetq-info *ngFor="let new of news" [data]="new" (showVideoEvent)="showVideo = $event.showVideo; videoUrl = $event.videoUrl" [showVideo]="showVideo"></sweetq-info>
<sweetq-kit></sweetq-kit>
<sweetq-footer></sweetq-footer>
<map [(show)]="showMap" [url]="mapUrl"></map>
<modal [(show)]="showVideo" [url]="videoUrl" (showChange)="showChange($event)"></modal>
<spotify [(show)]="playAlbum"></spotify>