<div class="sq-contact">
    <div class="sq-contact-icons">        
        <a target="_blank" class="sq-button sq-facebook" title="Facebook" href="https://www.facebook.com/sweetqtheband">
            <span class="sq-icon icon-facebook"></span>
        </a>
        <a target="_blank" class="sq-button sq-twitter" title="Twitter" href="https://www.twitter.com/sweetqtheband">
            <span class="sq-icon icon-twitter"></span>
        </a>
        <a target="_blank" class="sq-button sq-instagram" title="Instagram" href="https://www.instagram.com/sweetqtheband">
            <span class="sq-icon icon-instagram"></span>
        </a>
        <a target="_blank" class="sq-button sq-youtube" title="Youtube" href="https://www.youtube.com/sweetqtheband">
            <span class="sq-icon icon-youtube"></span>
        </a>        
        <a class="sq-button sq-mail" title="Email" href="mailto:hola@sweetq.es">
            <span class="sq-icon icon-mail"></span>
        </a>
    </div>
</div>