<div class="sq-section gigs">
  <div class="sq-wrapper">
    <div class="sq-title-wrapper">
      <div class="sq-subtitle">{{ "gigs.label" | translate }}</div>
    </div>
    <div class="sq-gigs-list-wrapper">
      <div class="sq-text" *ngIf="next && !next.length && past && !past.length">
        {{ "gigs.noGigs" | translate }}
        {{ "stayTuned" | translate }}
      </div>
      <div class="sq-heading">{{ "gigs.next" | translate }}</div>
      <div class="sq-gigs-list">
        <sweetq-gig
          class="sq-item"
          *ngFor="let gig of next"
          (showModal)="showModal(gig)"
          [gig]="gig"
        ></sweetq-gig>
      </div>
      <div class="sq-heading disabled">{{ "gigs.past" | translate }}</div>
      <div class="sq-gigs-list">
        <sweetq-gig
          class="sq-item old-gig"
          *ngFor="let gig of past"
          (showModal)="showModal($event)"
          [gig]="gig"
        ></sweetq-gig>
      </div>
    </div>
  </div>
</div>
