.sq-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sq-button {
    align-self: flex-end;
    padding-bottom: 12px;
  }
}
.no-gigs {
  padding: 16px 0;
}
.sq-gigs-list {
  overflow: hidden;

  &.shrinked {
    max-height: 235px;

    @media screen and (max-width: 400px) {
      max-height: 246px;
    }
  }
}
