<div class="sq-bg">
  <div class="sq-wrapper">
    <div class="sq-platforms-icons">
      <a
        [target]="target"
        [href]="links.youtubeMusic"
        class="sq-button sq-youtube-music {{ release ? '' : 'disabled' }}"
        title="Youtube Music"
      >
        <span class="sq-logo logo-youtube-music"></span>
      </a>
      <a
        class="sq-button {{ release ? '' : 'disabled' }}"
        title="links.spotify"
      >
        <span class="sq-logo logo-spotify"></span>
      </a>
      <a
        [target]="target"
        [href]="links.appleMusic"
        class="sq-button sq-apple-music {{ release ? '' : 'disabled' }}"
        title="Apple Music"
      >
        <span class="sq-logo logo-apple-music"></span>
      </a>
      <a
        [target]="target"
        [href]="links.amazon"
        class="sq-button sq-amazon {{ release ? '' : 'disabled' }}"
        title="Amazon"
      >
        <span class="sq-logo logo-amazon"></span>
      </a>
    </div>
    <h1 class="sq-logo">
      <div class="sq-logo-image">
        <span class="visuallyhidden">Sweet Q</span>
      </div>
    </h1>
    <div class="sq-ep sq-hero" *ngIf="!release"></div>
    <div class="sq-platforms">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/album/2Ul8oyq3vUqZC6cIFVIGME?utm_source=generator&theme=0"
        width="100%"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>
