<div class="sq-section kit">
    <div class="sq-wrapper">
        <div class="sq-half-columns">
            <div class="sq-column column-right">
                <div class="sq-title-wrapper">
                    <div class="sq-subtitle">{{ 'pressKit.title' | translate }}</div>
                </div>
                <div class="sq-text" [innerHTML]="'pressKit.text'|translate"></div>
                <div class="sq-actions">
                    <a class="sq-button rounded solid-blue" title="{{ 'pressKit.download'|translate}}" target="_self" href="assets/press-kits/sweetq-epk.zip">
                        <div class="sq-button-text" [innerHTML]="'pressKit.button'|translate"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>