

.table {  
  &--filters-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--light-bg-color);
    width: 100%;
  }
  &--filters {
    padding: var(--padding);
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--padding);
  }
  &--list {  
    border-right: solid 1px var(--border-color);
    border-left: solid 1px var(--border-color);
    border-top: solid 1px var(--border-color);
    .item {
      display: flex;
      padding: 8px;
      gap: 8px;
      align-items: center;
      border-bottom: solid 1px var(--border-color);      
      .image {
        border-radius: 100%;        
      }
    }
  }

  &--row {
    display: flex;
    align-items: center;
    gap: var(--padding);
  }
  &--cell {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--padding);
  }
  &--search {
    justify-self: flex-end; 
    padding: var(--padding);
    input {
      font-size: var(--controls-font-size);
      padding: var(--padding);
      outline: none;
      min-height: var(--controls-height);
      border: solid 1px var(--border-color);
      border-radius: var(--controls-border-radius);      
    }
  }

  &--paginator {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    button {    
      outline: none;
      background-color: transparent;
      border: 0;
      box-sizing: content-box;
      padding: var(--padding);
      width: 24px;
      height: 24px;
      cursor: pointer;
      border-radius: 100%;
      vertical-align: middle;
      line-height: 10px;
  
      &:hover {
        color: var(--hover);      
      }
      &.active {
        background-color: #CCC;
      }
    }
  }
}