@use '@scss/mixins' as *;

.panel {
  position: fixed;
  height: var(--panel-wrapper-height, 100%);
  width: 100%;
  top: var(--panel-wrapper-top, 0);
  opacity: 0;
  transition: opacity 1ms linear 200ms;
  pointer-events: none;
  z-index: 1;

  &-wrapper {
    transition: transform 200ms ease-out;
    background-color: var(--light-bg-color);
    border-left: solid 1px var(--border-color);
    position: fixed;
    height: var(--panel-wrapper-height, 100%);
    top: var(--panel-wrapper-top, 0);
    transform: translateX(100vw);
  }

  &-overlay {
    transition: opacity 200ms ease-out;
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .panel-wrapper {
    width: 60vw;
    @include breakpoint(mobile) {
      width: 100vw;
    }
    @include breakpoint(tablet) {
      width: 80vw;
    }
    padding: calc(var(--padding) * 4) calc(var(--padding) / 2)
      calc(var(--padding) * 2);

    .action {
      position: fixed;
      top: calc(var(--padding) * 2);
      left: calc(var(--padding) * 2);
      cursor: pointer;
    }
    .close {
      position: fixed;
      top: calc(var(--padding) * 3);
      transform: translateY(-50%);
      right: var(--padding);
      cursor: pointer;
      z-index: 2;
    }

    footer {
      width: calc(100% - calc(var(--padding) * 2));
      position: fixed;
      bottom: 0;
      padding: calc(var(--padding) * 2);
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &.open {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0s linear;

    .panel-wrapper {
      transition: transform 200ms ease-in;
      transform: translateX(40vw);
    }

    .panel-overlay {
      transition: opacity 200ms ease-in;
      background-color: var(--dark-bg-color);
      opacity: 0.2;
    }

    &.resizing {
      .panel-wrapper {
        transition: unset;
      }
    }
    .panel-content {
      max-height: 80vh;
      .fields {
        overflow-y: auto;
        padding: 0px calc(var(--padding) * 2);
        max-height: calc(80vh);

        @include breakpoint(mobile) {
          max-height: calc(80vh - 25px);
        }
      }
    }
    @include breakpoint(mobile) {
      .panel-wrapper {
        transition: transform 400ms ease-in;
        transform: translateX(0vw);
      }
    }

    @include breakpoint(tablet) {
      .panel-wrapper {
        transition: transform 400ms ease-in;
        transform: translateX(20vw);
      }
    }

    @include breakpoint(desktop) {
      .fields {
        --webkit-scrollbar {
          display: none;
        }

        &:hover {
          --webkit-scrollbar {
            background: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
