@use "@scss/vars" as vars;

@mixin breakpoint($breakpoint) {
  $query: map-get(vars.$breakpoints, $breakpoint);

  @if $query {
    @media screen and (#{$query}) {
      @content;
    }
  }
}

@mixin from($from) {
  $query: map-get(vars.$from, $from);

  @if $query {
    @media screen and (#{$query}) {
      @content;
    }
  }
}

@mixin heightBreakpoint($height) {
  $query: map-get(vars.$heights, $height);

  @if $query {
    @media (#{$query}) {
      @content;
    }
  }
}

@mixin theme($theme) {
  $query: map-get(vars.$themes, $theme);

  @if $query {
    @media (#{$query}) {
      @content;
    }
  }
}
