@use '@scss/mixins' as *;

body {
  height: 100%;
  width: 100%;
  --cds-popover-background-color: #fff;
}
.viewport {
  height: 100%;
  width: 100%;

  &.with-menu {
    height: calc(100% - 48px);
    top: 48px;
    position: relative;
    --panel-wrapper-height: calc(100% - 48px);
    --panel-wrapper-top: 48px;
  }

  .video-reel {
    width: 50px;
    aspect-ratio: 9 / 16;
  }

  .align-center {
    display: flex;
    align-items: center;
  }

  .cds--data-table-container {
    z-index: 1;
  }
  .cds--list-box {
    min-width: 120px;
    &__menu-item__option {
      overflow: unset;
    }
  }

  .cds--multiselect {
    position: relative;
    .cds--popover-container {
      position: absolute;
      top: 4px;
      right: 48px;
      z-index: 1;
    }
  }

  .cds--table-toolbar {
    z-index: 2;
    box-shadow: 0 0 1px 1px var(--cds-layer);
  }
  .cds--popover-content {
    padding: 1rem;
  }
  .cds--flex {
    display: flex;
    align-items: flex-end;
    gap: var(--padding);
    width: 100%;
    .cds--tooltip-trigger__wrapper {
      padding-bottom: calc(var(--padding) / 2);
    }
  }

  .cds--tooltip-content {
    white-space: pre-line;
    text-align: left;
  }
  @include breakpoint(mobile) {
    .cds--stack-horizontal {
      grid-auto-flow: row;
    }
  }
}
