<div class="listen--view" [ngClass]="{'long-wrapper': longWrapper}">
  <div class="listen--bg">
    <div class="image"></div>
    <div class="opacity"></div>
  </div>
  <div class="listen--viewport">
    <div class="listen--content">
      <div class="listen--wrapper">       
        <div class="listen--panels">             
          <div class="listen--panel track">
            <header>
              <div class="image"></div>
              <h1>Sweet Q</h1>
            </header>                        
            <div class="player" *ngIf="item.id !== ''">
              <sweetq-album [item]="item"></sweetq-album>            
              <player type="overlay" [track]="item" [tid]="tid"></player>              
            </div>                                    
            <toggler *ngIf="item?.description || item?.lyrics" (isOpen)="handleOpen($event)" class="toggler">
              <toggler-item data-id="description" *ngIf="item?.description">
                <div class="title" handler>{{ 'track.description' | translate}}</div>
                {{item.description}}
              </toggler-item>
              <toggler-item data-id="lyrics" *ngIf="item?.lyrics" [open]="false">
                <div class="title" handler>{{ 'track.lyrics' | translate}}</div>
                <span [innerHTML]=item.lyrics></span>
              </toggler-item>    
              <toggler-item data-id="aboutUs" [open]="false">
                <div class="title" handler>{{ 'aboutUs.title' | translate}}</div>
                <span [innerHTML] = "'aboutUs.info'|translate"></span>
              </toggler-item>
            </toggler>
          </div>
          <div class="listen--panel sq-links-wrapper" *ngIf="links.length > 0">
            <div class="sq-links">
              <div class="sq-primary-links">
                <a class="sq-button" target="_blank" [ngClass]="[link.type, link.button]" [href]="link.link"
                  *ngFor="let link of links">
                  <div class="sq-button-content">
                    <span class="sq-icon-wrapper" [ngClass]="link.type" *ngIf="link.icon"><span class="sq-icon"
                        [ngClass]="link.icon"></span></span>
                    <span class="sq-text" translate [translateParams]="link.trParams">{{ link.text! }}</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <sweetq-kit></sweetq-kit>
    <footer class="listen--footer">
      <div class="listen--wrapper">
        <div class="contact">
          <h2>
            {{ 'listen.contactUs' | translate}}
          </h2>
          <a href="tel:+34695520242">695 520 242 (Hari)</a>
          <a href="mailto:hola@sweetq.es">hola@sweetq.es</a>
        </div>
        <div class="social-networks">
          <a target="_blank" class="button spotify" title="Spotify"
            href="https://open.spotify.com/intl-es/artist/74Vs2gSCwnlCiV4yjaFIMb"></a>
          <a target="_blank" class="button youtube" title="Youtube" href="https://www.youtube.com/@sweetqtheband"></a>
          <a target="_blank" class="button tiktok" title="Tiktok" href="https://www.tiktok.com/@sweetqtheband"></a>
          <a target="_blank" class="button instagram" title="Instagram"
            href="https://www.instagram.com/sweetqtheband"></a>
        </div>
      </div>
    </footer>
  </div>
</div>