.modal {
  position: fixed;
  height: var(--panel-wrapper-height, 100%);
  width: 100%;
  top: var(--panel-wrapper-top, 0);
  opacity: 0;
  transition: opacity 1ms linear 200ms;
  pointer-events: none;
  z-index: 1;

  &-wrapper {
    transition: transform 200ms ease-out;
    background-color: var(--light-bg-color);
    border-left: solid 1px var(--border-color);
    position: fixed;
    height: var(--panel-wrapper-height, 100%);
    top: var(--panel-wrapper-top, 0);
    transform: translateX(100vw);
  }

  &-overlay {
    transition: opacity 200ms ease-out;
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .modal-wrapper {
    width: 60vw;
    padding: calc(var(--padding) * 4) calc(var(--padding) * 2) calc(var(--padding) * 2);
  }

  &.open {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0s linear;

    .modal-wrapper {
      transition: transform 200ms ease-in;
      transform: translateX(40vw);
    }

    .modal-overlay {
      transition: opacity 200ms ease-in;
      background-color: var(--dark-bg-color);
      opacity: 0.2;
    }

    &.resizing {
      .modal-wrapper {
        transition: unset;
      }
    }
  }
}
