.name {
  min-width: 300px;
}

.table {
  width: 100%;
  &--filters-wrapper {
    position: fixed;
    top: var(--menu-height);
    width: calc(100% - var(--padding) *  2);
  }

  &--list {
    padding-top: var(--menu-height);
    height: calc(100% - var(--menu-height));
    padding-bottom: var(--menu-height);
  }
  &--paginator {
    background-color: var(--light-bg-color);
    position: fixed;
    bottom: 0;
    padding: var(--padding);
    width: 100%;
  }
}