.button[data-variant="primary"] {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  min-height: var(--controls-height);
  border-radius: var(--controls-border-radius);
  padding: var(--padding);
  font-size: var(--controls-font-size);
  cursor: pointer;
}

.button[data-variant="secondary"] {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  min-height: var(--controls-height);
  border-radius: var(--controls-border-radius);
  padding: var(--padding);
  font-size: var(--controls-font-size);
  cursor: pointer;
}
