<div class="listen--view">
  <div class="listen--bg">
    <div class="image"></div>
    <div class="opacity"></div>
  </div>
  <div class="listen--viewport">
    <div class="listen--content">
      <div class="listen--wrapper">       
        <div class="listen--panels">          
          <div class="listen--panel video" [class]="{'playing': isPlaying}" [style]="{'max-height': maxHeight}">
            <header>
              <div class="image"></div><h1>Sweet Q</h1>
            </header>            
            <section class="video-wrapper">
              <button class="close-button" *ngIf="isPlaying" role="button" (click)="closePanel()"></button>
              <div class="loader" *ngIf="showLoader"></div>
              <div class="player default" *ngIf="!isInit">                
                <video [autoplay]="true" [muted]="true" [loop]="true" height="100%" #video>
                  <source [src]="loadVideo" type="video/mp4">
                </video>
                <div class="video-overlay" *ngIf="!isInit && videoLoaded">
                  <div class="toggle-play play"></div>
                </div>
              </div>
              <div class="player" *ngIf="items.length > 0">
                <player type="canvas" [track]="item" *ngFor="let item of items" [tid]="tid"></player>
              </div>
            </section>          
          </div>
          <div class="listen--panel releases">
            <header>
              <div class="image"></div>
              <h1>Sweet Q</h1>
            </header>
            <section class="next-releases">
              <sweetq-albums (onPlay)="openPanel()" *ngIf="items.length > 0" [items]="albums.released" [initial-id]="initialId"
                title="{{'albums.released' | translate}}"></sweetq-albums>
              <sweetq-albums (onPlay)="openPanel()" *ngIf="items.length > 0" [items]="albums.upcoming" [initial-id]="initialId"
                title="{{'albums.upcoming' | translate}}"></sweetq-albums>
            </section>
          </div>
        </div>
      </div>
    </div>
    <footer class="listen--footer">
      <div class="listen--wrapper">
        <div class="contact">
          <h2>
            {{ 'listen.contactUs' | translate}}
          </h2>
          <a href="tel:+34695520242">695 520 242 (Hari)</a>
          <a href="mailto:hola@sweetq.es">hola@sweetq.es</a>
        </div>
        <div class="social-networks">
          <a target="_blank" class="button spotify" title="Spotify"
            href="https://open.spotify.com/intl-es/artist/74Vs2gSCwnlCiV4yjaFIMb"></a>
          <a target="_blank" class="button youtube" title="Youtube" href="https://www.youtube.com/@sweetqtheband"></a>
          <a target="_blank" class="button tiktok" title="Tiktok" href="https://www.tiktok.com/@sweetqtheband"></a>
          <a target="_blank" class="button instagram" title="Instagram"
            href="https://www.instagram.com/sweetqtheband"></a>
        </div>
      </div>
    </footer>
  </div>
</div>