@use '@scss/mixins' as *;

:root {
  --cds-overlay: rgba(0, 0, 0, 0.1);
}
.table-wrapper {
  .cds--data-table {
    &-container {
      padding-block-start: 0;
      -webkit-padding-before: 0;
    }
  }
  &.max-top {
    height: 100%;
    width: 100%;
    .cds--data-table {
      height: 100%;
      width: 100%;
      position: relative;
      thead {
        position: sticky;
        top: 0px;
        width: 100%;
        z-index: 1;
      }
      tbody {
        overflow: auto;
        width: 100%;
      }
      &-content {
        height: calc(100% - 48px);
        overflow-x: hidden;
        @include breakpoint(mobile) {
          overflow-x: auto;
        }
      }
      &-container {
        width: 100%;
        height: calc(100% - 64px);
      }
    }
  }

  @include breakpoint(mobile) {
    .cds--popover--open
      > .cds--popover
      > .cds--popover-content.cds--table-filters {
      width: 100%;
      height: 100vh;
      transform: translate(0, -85px);
    }
  }

  &.with-title {
    &.max-top {
      .cds--data-table {
        &-content {
          height: calc(100% - 133px);
        }
      }
    }

    @include breakpoint(mobile) {
      .cds--popover--open
        > .cds--popover
        > .cds--popover-content.cds--table-filters {
        width: 100%;
        height: calc(100vh - 49px);
        transform: translate(0, -85px) !important;
        overflow-y: auto;
      }
    }
  }

  .cds--loading-overlay {
    position: absolute;
    z-index: 1;
    height: calc(100% - 95px);
    top: 95px;
  }

  .cds--popover-content.cds--table-filters {
    .field:not(:first-child) {
      padding-top: var(--padding);
    }
    .cds--flex {
      display: flex;
      justify-content: space-between;
    }
  }
}
.cds-table--pagination {
  width: 100%;
  grid-template-columns: 11fr 1fr;
  @include breakpoint(mobile) {
    padding-top: calc(var(--padding) * 2);
  }
  .cds--dropdown__wrapper {
    display: flex;
    align-items: center;
    padding-right: var(--padding);
    min-width: auto;
  }
}
.cds--dropdown__wrapper {
  min-width: 200px;
  .cds--list-box__menu-item__option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.color-block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  max-width: 20px;
  border-radius: 50%;
  height: 20px;
  margin-right: var(--padding);
  color: var(--color-block-text);
  background-color: var(--color-block-bg);

  &.red {
    --color-block-bg: var(--cds-tag-background-red);
    --color-block-text: var(--cds-tag-color-red);
  }

  &.magenta {
    --color-block-bg: var(--cds-tag-background-magenta);
    --color-block-text: var(--cds-tag-color-magenta);
  }

  &.purple {
    --color-block-bg: var(--cds-tag-background-purple);
    --color-block-text: var(--cds-tag-color-purple);
  }

  &.blue {
    --color-block-bg: var(--cds-tag-background-blue);
    --color-block-text: var(--cds-tag-color-blue);
  }

  &.cyan {
    --color-block-bg: var(--cds-tag-background-cyan);
    --color-block-text: var(--cds-tag-color-cyan);
  }

  &.teal {
    --color-block-bg: var(--cds-tag-background-teal);
    --color-block-text: var(--cds-tag-color-teal);
  }

  &.green {
    --color-block-bg: var(--cds-tag-background-green);
    --color-block-text: var(--cds-tag-color-green);
  }

  &.gray {
    --color-block-bg: var(--cds-tag-background-gray);
    --color-block-text: var(--cds-tag-color-gray);
  }

  &.cool-gray {
    --color-block-bg: var(--cds-tag-background-cool-gray);
    --color-block-text: var(--cds-tag-color-cool-gray);
  }

  &.warm-gray {
    --color-block-bg: var(--cds-tag-background-warm-gray);
    --color-block-text: var(--cds-tag-color-warm-gray);
  }

  &.high-contrast {
    --color-block-bg: var(--cds-tag-background-high-contrast);
    --color-block-text: var(--cds-tag-color-high-contrast);
  }

  &.outline {
    border: solid 1px #000000;
  }
}
